<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.godkiller.rencai" >
    <uses-sdk android:minSdkVersion="8"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".page.WelcomePage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page.LoginPage"></activity>
        <activity android:name=".page.RegisterPage"></activity>
        <activity android:name=".page.MainPage"></activity>
        <activity android:name=".page.SearchPage"></activity>
        <activity android:name=".page.TradeCategoryPage"></activity>
        <activity android:name=".page.WorkingCityPage"></activity>
        <activity android:name=".page.PersonalInfoPage"></activity>
        <activity android:name=".page.JobIntentionPage"></activity>
        <activity android:name=".city.CityListOfIntention"></activity>
        <activity android:name=".city.CityListOfSearch"></activity>
        <activity android:name=".trade.TradeCategoryOfSearch"></activity>
        <activity android:name=".trade.TradeCategoryOfIntention"></activity>
        <activity android:name=".position.PositionPageOfSearch"></activity>
        <activity android:name=".position.PositionPageOfIntention"></activity>
        <activity android:name=".page.PasswordModifyPage"></activity>
        <activity android:name=".page.SettingsPage"></activity>
        <activity android:name=".page.EduBgdEditPage"></activity>
        <activity android:name=".page.EduBgdPage"></activity>
        <activity android:name=".page.ProjectExpPage"></activity>
        <activity android:name=".page.ResumePreviewPage"></activity>
        <activity android:name=".page.WorkingExpPage"></activity>
        <activity android:name=".page.WorkExpEditPage"></activity>
        <activity android:name=".page.JobDescPage"></activity>
        <activity android:name=".page.ProjectDescPage"></activity>
        <activity android:name=".page.ProjectExpEditPage"></activity>
    </application>

</manifest>
